@model Lab3.Models.SACH

@{
    ViewBag.Title = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>Bạn đã thực hiện mua cuốn sách <strong>@Model.TenSach</strong> với giá <strong>@Model.GiaBan</strong>VNĐ</p>

